$white: #FFFFFF;
$black: #111111;
$grey: #A0A0A0;

$primary-color: #7F6D50;
$secondary-color: #FFBE54;
$highlight-color: #FFDBA0;
$dark-color: #7F5F2A;
$dull-color: #CCAF80;

$success: #39dd4c;
$dark-success: #269b55;
$failure: #dd3e38;
$dark-failure: #9b2f25;
