div.action-cafe-detail{
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;

  span.action-detail-header{
    display: block;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  label{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }

  span.action-content{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: black;
    display: block;
  }

  span.action-information{
    display: block;
    margin-top: 10px;
    font-style: italic;
    font-family: "Lato", sans-serif;
  }
}
