div.listing{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

  img.icon{
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
  }
}
